.player{
    width: 80%;
    /* border: 2px solid; */
    background-color: aliceblue;

    

}
.cplayer{
   margin: 1rem;
   width: 98%;
}
.taylor{
    height: 25rem;
    width: 100%;
    border-radius: 10px;
    margin-right: 1rem;
}

.f-songs{
display: grid;
grid-template-columns: repeat(3, 0.5fr);

}